.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 0.8rem;
  padding: 0 1.4em;
  background: var(--monokai-brightBlack);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.expense {
  background: darkred;
}

.income {
  background: darkgreen;
  word-break: break-all;
}

.name {
  flex-grow: 1;
  word-break: break-all;
}

.info {
  display: flex;
  flex-direction: column;
}

.deleteBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio : 1 / 1;
  height: 50%;
  border-radius: 50%;
  background: var(--monokai-brightBlack);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5em;
}
.deleteBtn:hover {
  filter: brightness(80%);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 0;
    font-size: smaller;
  }
  .deleteBtn {
    font-size: 1.1rem;
    padding: 0.8em;
    width: 12%;
    margin-left: auto;
    margin-bottom: 1em;
  }
}