.card {
  padding: 1rem 1.5rem;
  text-align: left;
  color: inherit;
  background-color: #222;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h2 {
  font-size: 1.4rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}

@media (max-width: 400px) {
  .card h2 {
    font-size: 1.2rem;
  }
  
  .card p {
    font-size: 1rem;
  }
}