@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* Override Mapbox styles */
.mapboxgl-ctrl-geocoder {
  /* https://tailwindcss.com/docs/customizing-colors */
  background-color: #a8a29e;
  padding: 0.25rem;
  border-radius: 0.375rem;
  width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  color: black;
  width: 100%;
}

.mapboxgl-ctrl-top-left {
  display: flex;
  flex-direction: column;
  width: max(40vw, 300px);
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0.375rem;
}

.mapboxgl-ctrl-geocoder--icon-search {
  margin: 0 0.25rem;
}

.suggestions-wrapper {
  padding-top: 0.25rem;
}

.mapboxgl-ctrl-geocoder--powered-by {
  color: black;
}

/* END Override Mapbox styles */
